<!-- <div class="container">
    <div class="text">

        <p>love is real</p>
        <h2> i hate bananas</h2>
    </div>
</div> -->

<div class="Hero-Container">
    <img src="https://cdn.britannica.com/96/115096-050-5AFDAF5D/Bellagio-Hotel-Casino-Las-Vegas.jpg" alt="background" class="hero-background">
    <div class="hero-content">
     <h1 class="mat-display-1">Welcome to My Hotel</h1>
     <p class="mat-body-large">A place of pure comfort and excellent luxry</p>
     <button mat-raised-button colour="primary" class="example-button" [routerLink]="['/book-room']">
        Book Now
    </button>
    </div>

 </div>