<div id="sidebar">
    
    <span>
        <mat-icon>dashboard</mat-icon>
        <a routerLink="/dashboard" routerLinkActive="active">DashBoard</a>
    </span>
    <span>
        <mat-icon>home</mat-icon>
        <a routerLink="/home" routerLinkActive="active">Home</a>
    </span>
    <span>
        <mat-icon>hotel</mat-icon>
        <a routerLink="/rooms" routerLinkActive="active">Rooms</a>
    </span>
    <span>
        <mat-icon>settings</mat-icon>
        <a routerLink="/settings" routerLinkActive="active">Settings</a>
    </span>
    <span>
        <mat-icon>exit_to_app</mat-icon>
        <a routerLink="/logout" routerLinkActive="active">Logout</a>
    </span>
    
   

</div>